
.background1 {
    background-color: #d3e3e3;
    border-radius: 10px;
    width:100%;
}

h1 {
    text-align: center;
    font-family: Roboto;
}

p {
    margin: 10px;
    font-family: Roboto;

}

.amount {
    font-size: 40px;
    margin: 10px;
    text-align: left;
}

.background2 {
    background-color: #c7f2f2;
    border-radius: 10px;
    width:100%;
    margin-bottom:15px;
}
.background3 {
    background-color: #edf3f0;
    border-radius: 10px;
    width:100%;
}

#addexpensename {
    border-radius: 5px;
    height: 20px;
    background: transparent;
    margin:10px
}
#addamount {
    border-radius: 5px;
    height: 20px;
    background: transparent;
}

#submit{
    background-color: rgb(36, 149, 241);
    color:#ffff;
    height:40px;
    width:100px;
    margin:20px;
    border-width:0px;
    border-radius:8px;
}

#submit:hover{
    background-color: rgb(83, 79, 223);
}
label {
    margin: 10px;
}
#search{
    border-radius: 5px;
    height: 30px;
    background: transparent;
    margin:10px;
    width:30%
}
.category{
    width:20%;
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}
.date{
    width:20%;
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}
.filter{
    width:20%;
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}