

.background1 {
    background-color: #FFFFFF;
    border-radius: 10px;
    
    margin:10px;
}

h1 {
    text-align: center;
    font-family: Roboto;
}

p {
    margin: 10px;
    font-family: Roboto;

}

.amount {
    font-size: 40px;
    margin: 10px;
    text-align: left;
}

.background2 {
    background-color: #E2E8F0;
    border-radius: 10px;
    
    margin:10px auto;
}
.background3 {
    background-color: #edf3f0;
    border-radius: 10px;
   
}

#addexpensename {
    border-radius: 5px;
    height: 20px;
    background: transparent;
    margin:10px
}
#addamount {
    border-radius: 5px;
    height: 20px;
    background: transparent;
}

#submit{
    background-color:#2563EB;
    color:#ffff;
    height:40px;
    width:120px;
    margin:20px;
    border-width:0px;
    border-radius:8px;
    cursor:pointer;
}
#save{
    background-color:#4a1e91;
    cursor:pointer;
    color:#ffff;
    height:40px;
    width:120px;
    margin:10px;
    border-width:0px;
    border-radius:8px;

}
#save:hover{
    background-color: rgb(185, 184, 194);
}

#submit:hover{
    background-color: rgb(5, 4, 26);
}
label {
    margin: 10px;
}
#search{
    border-radius: 5px;
    height: 30px;
    background: transparent;
    margin:10px;
    
}
.category{
    
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}
.date{
    
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}
.filter{
    width:20%;
    height:30px;
    border-radius: 5px;
    background: transparent;
    margin:10px;
}
.listContainer2{
    border:2px solid black;
    margin:10px;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
   padding-left:20px;
    background-color: #e6f6ff;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap:10px;
    padding:12px 16px
}

.deleteIcon{
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    
}

.editIcon{
    margin-left:auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}